@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@media screen and (min-width: 880px) {
  .mainBody{
    display: flex;
  }
}

.main {
  background-color: rgb(81, 81, 81);
  display: grid;
  place-items: center;
  margin: 2.5rem;
  padding: 2.5rem;
  width:80%;
  border-radius: 1rem;
}

@media screen and (min-width: 600px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

.divData {
  background-color: #222222;
  width: 83.3333%;
  height: 20rem;
  margin: 1.25rem;
  border-radius: 0.5rem;
  overflow: hidden;

  text-overflow: clip;
}

.spanData {
  display: flex;
  justify-content: center;
  margin: 1.25rem;
}


.imgData {
  width: 9rem;
  opacity: 0.8;
  border-radius: 0.25rem;
}

.sectionData {
  display: flex;
  flex-direction: column;
}

.h3Data{
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  margin: 0.5rem 1rem 0rem;
  color: #FFFFFF;
}

.pData {
  font-size: 1rem;
  margin: 0.9rem 1.25rem ;
  color: #FFFFFF;
  overflow: hidden;
}

