
@media screen and (min-width: 800px) {
  .mainBody{
    display: flex;
  }
}

.main {
  background-color: rgb(81, 81, 81);
  display: grid;
  place-items: center;
  margin: 2.5rem;
  padding: 2.5rem;
  width:80%;
  border-radius: 1rem;
}

@media screen and (min-width: 700px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1055px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

.divData {
  background-color: #222222; /* bg-stone-800 */
  width: 83.3333%; /* w-5/6 */
  height: 24rem; /* h-96 */
  margin: 1.25rem; /* m-5 */
  border-radius: 0.5rem;
  overflow: hidden;

  text-overflow: clip;

}