.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.0rem;
  background-color: rgb(139, 136, 136);
  color:aliceblue;
  width: 100%;
}

.main {
  background-color: rgb(81, 81, 81);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.0rem;;
  width: 80%;
  border-radius: 1.5rem;
 }

 .pLoading {
  font-size: 2.25rem; 
  font-weight: 700; 
  margin: 0.75rem; 
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ec4899, #3b82f6, #8b5cf6);
  align-self: center;
  margin-left: auto;
  margin-right: auto;
 }
 
 
 .imgData {
  opacity: 0.8;
  margin-top: 2.0rem;
  border-radius: 1.5rem;
  width: 100%;
 }


 @media screen and (min-width: 643px) {
  .imgData {
    width: fit-content;
    }
 }
 

 .h3Data {
  font-size: 1.5rem;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #3b82f6, #ec4899, #8b5cf6);
 }

 .pData {
  overflow: hidden;
 }
 
 .h2Data {
  font-size: 1.5rem; 
  margin-top: 1.25rem; 
  margin-bottom: 0.75rem;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ec4899, #3b82f6, #8b5cf6);
 }
 

 .form {
  width: auto;
 }
 
 .pForm {
  font-size: 1.25rem; 
  margin-bottom: 0.75rem;
 }
 
 
 .firstRadio {
  margin-bottom: 0.75rem;
 }
 
 
 .labelRadio {
  margin: 0.25rem;
  margin-right: 0.75rem;
 }
 
 .reviewArea {
  display: flex;
  flex-direction: column;
 }

 .textArea {
  width: auto;
  background-color: #252526; 
 }
 
 .sendBtnAble {
  background: linear-gradient(to right, #6b46c1, #f64f59);
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
  transform: scale(1);
  margin-top: 1rem; 
  align-self: end;
 }
 .sendBtnAble:hover {
  background: linear-gradient(to right, #f64f59, #3b82f6);
  transform: scale(1.05);
 }
 
 .sendBtnDisabled {
  background: linear-gradient(to right, #6b46c1, #f64f59);
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  opacity: 0.5;
  transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
  transform: scale(1);
  cursor: not-allowed;
 }
 .sendBtnDisabled:hover {
  background: linear-gradient(to right, #f64f59, #3b82f6);
  transform: scale(1.05);
 }
 
 .h1Review {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: 700;
 }
 
 .pTextReview {
  font-size: 1.25rem;
  margin: 0.5rem; 
  color: #ffffff; 
 }

 .pEmailReview {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem;
 }
 
 
 .editBtn {
  background: linear-gradient(to right, #6b46c1, #f64f59);
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
  transform: scale(1);
  margin: 0.5rem; 
  margin-top: 1rem; 
 }
 .editBtn:hover {
  background: linear-gradient(to right, #f64f59, #3b82f6);
  transform: scale(1.05);
 }
 
 .deleteBtn {
  background: linear-gradient(to right, #f56565, #f64f59);
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
  transform: scale(1);
  margin-top: 1rem; 
 }
 .deleteBtn:hover {
  background: linear-gradient(to right, #f64f59, #f56565);
  transform: scale(1.05);
 }

 @media screen and (max-width: 587px) {
  .imgData {
    margin: 0rem;
    }
  .h1Review {
    font-size: 0.5rem; 
    margin: 0.5rem; 
    font-weight: 700; 
    }
  .review {
    justify-content: center;
  }
 }