
.main__page {
  display: flex;
  flex-direction: row-reverse;
 }

 .main__products {
  display: grid;
  place-items: center;
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-around;
  width: 1350px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #d9d9d9;
  border-radius: 10px;
 }

 .main__product__card {
  display: grid;
  justify-content: center;
  width: 353px;
  height: 352px;
  background-color: #fffdfd;
  border-radius: 10px;
  align-items: center;
 }

 .main__product__card__img {
  width: 150px;
 }

 p, h3, .main__product__card {
  margin: 10px;
  color: rgb(200, 196, 76);
 }